* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
}
header {
  max-width: 1170px;
  margin: 60px auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
}
.navbar img {
  height: 46px;
  width: 158px;
}
.navbar ul {
  display: flex;
  gap: 50px;
}
.navbar ul a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(112, 112, 112, 1);
  font-family: "Poppins", sans-serif;
}
.navbar button {
  background-color: #b68c5a;
  color: white;
  border-radius: 8px;
  width: 220px;
  height: 64px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.nav-banner {
  background-image: url(../images/banner.png);
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
.nav-banner h2 {
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 72px;
  margin-bottom: 24px;
}
.nav-banner p {
  color: white;
  font-family: "Poppins", sans-serif;
  color: rgba(231, 231, 231, 1);
  margin-bottom: 32px;
}
.nav-banner input {
  width: 500px;
  height: 64px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px;
  border-radius: 8px;
}
.nav-banner button {
  width: 150px;
  height: 64px;
  background-color: #b68c5a;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
main {
  max-width: 1170px;
  margin: 0 auto;
}
.practice-area {
  text-align: center;
}
.practice-area h3 {
  color: rgba(65, 64, 64, 1);
  font-size: 40px;
  font-family: "EB Garamond", serif;
  margin-bottom: 24px;
}
.practice-area p {
  font-family: "Poppins", sans-serif;
  color: rgba(112, 112, 112, 1);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
}
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.card:nth-child(2) {
  background-color: #f2f2f2;
}
.card:nth-child(3n) {
  border-right: none;
}
.card:nth-child(n + 4) {
  border-bottom: none;
}
.card h3 {
  font-family: "EB Garamond", serif;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
  color: rgba(65, 64, 64, 1);
}
.card p {
  width: 258px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
  color: rgba(112, 112, 112, 1);
}
.asked-question {
  margin-top: 120px;
  text-align: center;
}
.asked-question h3 {
  color: rgba(65, 64, 64, 1);
  font-size: 40px;
  font-family: "EB Garamond", serif;
}
.asked-question p {
  color: rgba(112, 112, 112, 1);
  font-family: "Poppins", sans-serif;
  margin-top: 24px;
}

.contant {
  background: #fff;
  display: flex;
  gap: 50px;
  margin-top: 64px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.faq-item {
  background: #f2f2f2;
  padding: 35px;
  cursor: pointer;
  border-radius: 10px;
}

.faq-item h3 {
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "EB Garamond", serif;
}

.faq-item p {
  margin-top: 10px;
  display: none;
  font-size: 14px;
  color: #555;
}

.faq-item.active p {
  display: block;
  font-family: "Poppins", sans-serif;
}
.contact {
  text-align: center;
  margin-top: 120px;
}
.contact h3 {
  font-size: 40px;
  color: rgba(65, 64, 64, 1);
  font-family: "EB Garamond", serif;
  margin-bottom: 24px;
}
.contact p {
  color: rgba(112, 112, 112, 1);
  font-family: "Poppins", sans-serif;
}

.contact-container {
  display: flex;
  gap: 30px;
  margin-top: 64px;
  margin-bottom: 120px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 570px;
  height: 590px;
}

.info-box {
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.info-box h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: "EB Garamond", serif;
}

.info-box p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.contact-form {
  width: 570px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-form input {
  width: 100%;
  height: 52px;
  padding: 15px;
  background: #f2f2f2;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 8px;
}
.contact-form textarea {
  width: 100%;
  resize: none;
  height: 120px;
  background: #f2f2f2;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 8px;
  padding: 15px;
}

.contact-form button {
  width: 600px;
  height: 72px;
  background: #b8864f;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-form button:hover {
  background: #a0743e;
}

footer {
  max-width: 1720px;
  height: 506px;
  margin: 0 auto;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 85px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo span {
  color: #c49a6c;
  font-size: 30px;
}

.footer-logo h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-size: 24px;
  font-family: "EB Garamond", serif;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
  font-family: "Poppins", sans-serif;
}
.footer-column h3 {
  margin-bottom: 20px;
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 15px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: #fff;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
  font-family: "Poppins", sans-serif;
}

.subscribe-box p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.subscribe-input {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}

.subscribe-input input {
  padding: 10px;
  border: none;
  outline: none;

  font-size: 14px;
  width: 324px;
}

.subscribe-input button {
  background: #b8864f;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  height: 72px;
  width: 72px;
}

.subscribe-input button:hover {
  background: #a0743e;
}

@media (max-width: 576px) {
  header {
    max-width: 100%;
    margin: 20px;
  }

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .navbar button {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }

  .nav-banner {
    height: auto;
    padding: 20px;
    background-size: cover;
  }

  .nav-banner h2 {
    font-size: 32px;
  }

  .nav-banner p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .nav-banner input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
  }

  .nav-banner button {
    width: 100%;
    height: 50px;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 32px;
  }

  .card {
    padding: 40px 20px;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .contant {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .faq-item h3 {
    font-size: 18px;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
  }

  .info-grid {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }

  .contact-form {
    width: 90%;
    gap: 15px;
  }

  .contact-form button {
    width: 100%;
    height: 60px;
    font-size: 18px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    gap: 40px;
    height: auto;
  }

  .subscribe-input {
    flex-direction: column;
  }

  .subscribe-input input,
  .subscribe-input button {
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header,
  main,
  footer {
    max-width: 100%;
    margin: 0 20px;
  }

  .navbar ul {
    gap: 30px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }

  .contant,
  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .info-grid,
  .contact-form {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header,
  main,
  footer {
    max-width: 100%;
    margin: 0 30px;
  }

  .navbar ul {
    gap: 40px;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  .contant,
  .contact-container {
    flex-direction: row;
    gap: 40px;
  }

  .info-grid,
  .contact-form {
    width: 100%;
    height: auto;
  }
}
